<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="ko">
	<meta charset="UTF-8">
	<title>Item Add</title>
</head>

<body>

	<div layout:fragment="content">
		<th:block sec:authorize="isAuthenticated()">
			<a sec:authorize="hasRole('admin')" th:href="@{/adduser}">사용자 추가</a>
			<span sec:authentication="name"></span>님
			<br>
			<span sec:authentication="principal"></span>
			<form name="logoutForm" th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</th:block>
		<div>
			<ul>
				<li><a href="/itemAdd">메뉴 추가</a></li>
				<li><a href="/catAdd">카테고리 추가</a></li>
				<li><a href="/optAdd">옵션 추가</a></li>
				<li><a href="/ingAdd">재료 추가</a></li>
			</ul>
		</div>
		<form form id="sales_form" name="sales_form" th:action="@{/api/itemAdd}" method="post" enctype="multipart/form-data">
			<table border=1>
				<tr>
					<td class="td_title">
						상품아이디
					</td>
					<td style="padding:10px; text-align:left;">
						<input class="easyui-textbox" id="itemId" name="itemId" style="width:200px">
					</td>
					<td class="td_title">
						상품이름
					</td>
					<td style="padding:10px; text-align:left;">
						<input class="easyui-textbox" id="itemName" name="itemName" style="width:200px">
					</td>
					<td class="td_title">
						상품수량
					</td>
					<td style="padding:10px; text-align:left;">
						<input class="easyui-textbox" id="itemSequence" name="itemSequence" style="width:200px">
					</td>
					


				</tr>
				<tr>
					<td class="td_title">
						상품 가격
					</td>
					<td style="padding:10px; text-align:left;">
						<input class="easyui-textbox" id="itemPrice" name="itemPrice" style="width:200px">
					</td>
					<td class="td_title">
						카테고리
					</td>
					<td style="padding:10px; text-align:left;">
						<select id="catId">
							<option th:each="cat : ${cats}" th:text="${cat.catName}" th:value="${cat.catId}"></option>
						</select>
					</td>
					<td class="td_title">
						상품사진
					</td>
					<td style="padding:10px; text-align:left;">
						<form enctype="multipart/form-data" id="imgform">
							<input type="file" id="img" name="img" style="width:300px">
						</form>
					</td>
				</tr>
				<td colspan="4" style="padding: 10px;">
					<button type="submit" class="easyui-linkbutton" iconCls="icon-ok"
						style="width: 100px; height: 20px;" id="submit">등록</button>

				</td>
			</table>

		</form>

		
	</div>

</body>

</html>