<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">

<head lang="ko">
	<meta charset="UTF-8">
	<title>main</title>
</head>

<body>

	<div layout:fragment="content">
		
		<label>id <input id="id"></label>
		<label>pw <input id="pw"></label>
		<button id="submit">submit</button>
		<div class ="d" value="2"> x </div>

		<script th:inline="javascript">
			$(() => {
				$(document).on("click" , ".d" , (e) =>{
					console.log(e.target.attributes.value.value);
					console.log(e.target.value);
				})
				
				$('#submit').click((e) => {
					console.log(e.target.id);
					const csrfToken=/*[[${_csrf.token}]]*/ null;
					const csrfHeader=/*[[${_csrf.headerName}]]*/ null;
					$.ajax({
						url: "/api/adduser",
						type: "post",
						dataType: "json",
						contentType: "application/json",
						data: JSON.stringify({
							id: $("#id").val(),
							pw: $("#pw").val(),
						}),
						beforeSend: function (xhr) {
							xhr.setRequestHeader(csrfHeader, csrfToken);

						}
					})
						.done((res) => {
							if (res == true) {
								alert("suc");
							} else alert("id is reduplication");
						})
				})
			})

		</script>

	</div>


</body>

</html>